/* .Hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.Hero-Card > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
} */